body {
  background-color: rgb(2, 159, 238);
}
#tv-logo {
  width: 100px;
  height: 200px;
}
/* #header {
  display: flex;
  flex-direction: column;
} */
#root {
  color: red;
}
footer {
  display: flex;
  justify-content: center;
}
li {
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 217, 248);
  height: auto;
  list-style: none;
  margin: 5px;
  border-radius: 10%;
}
li div {
  display: none;
}

li div.showSummary {
  display: block;
}
ul {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.list-of-episodes {
  text-align: center;
  text-rendering: auto;
  color: rgb(102, 61, 7);
  font-size: medium;
}
li p {
  font-size: 14px;
}
img {
  height: auto;
  width: auto;
  border-radius: 5%;
}
#more-btn {
  width: 200px;
  margin: auto;
  border-radius: 5%;
  color: rgb(95, 1, 1);
}
#search-box {
  margin-top: 30px;
  display: grid;
  place-items: center;
}
select {
  width: auto;
}
